h1,
h3,
.h1,
.h3 {
  margin-bottom: $spacer;
  color: $brand-green;
  font-weight: $font-weight-bold;
}

h2,
.h2 {
  a {
    color: $body-color;
  }
}

.fullwidth {
  @include media-breakpoint-up(lg) {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

.wfpopup {
  &.wf-zoom-image {
    display: inline-block;
  }
}
