.header {
  // position: relative;
  background-color: $brand-yellow;

  @include media-breakpoint-up(lg) {
    background-color: $white;
  }
}

.navbar-collapse {
  @include media-breakpoint-up(lg) {
    > .fullwidth {
      background-color: $brand-yellow;

      &.navbar-main {
        position: relative;
        top: -($spacer * 1.5);
        background-color: $white;

        .container {
          padding-top: $spacer * 2;
          background-image: url("../img/rvb.svg");
          background-repeat: no-repeat;
          background-attachment: scroll;
          background-position: calc(100% - #{$spacer}) $spacer / 2;
        }
      }
    }
  }
}

.site-name {
  flex-direction: column;
  padding: 0 $spacer;
}

.navbar-collapse {
  .site-name {
    flex-direction: row;
    align-items: center;
    padding: 0;
    position: relative;
    z-index: 1;
  }

  .slogan {
    p {
      margin-top: 1rem;
    }
  }
}

.navbar-brand {
  img {
    width: 200px;

    @include media-breakpoint-up(lg) {
      position: relative;
      left: -4px;
    }
  }
}

.finder {
  .form-control,
  .btn {
    border-color: transparent;
  }

  @include media-breakpoint-down(md) {
    width: 100%;

    .form-search {
      padding-top: $spacer / 2;
      padding-bottom: $spacer / 2;
    }
  }
}
