.navbar-collapse {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar-above {
  width: 100%;
  padding-bottom: 0;
}

.nav {
  flex-direction: column;
  flex-wrap: nowrap;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
}

.nav-item {
  @include media-breakpoint-up(lg) {
    position: relative;
    flex: 1 1 0;
  }
}

.nav-link {
  font-family: $font-family-condensed;
}

.dropdown-menu {
  margin-top: 0.2rem;
}

.dropdown-header {
  color: $brand-green;
  font-family: $font-family-condensed;
  font-weight: $font-weight-bold;
  white-space: normal;
}

.dropdown-item {
  font-family: $font-family-condensed;
  white-space: normal;

  &.active,
  &:active {
    background-color: $brand-yellow;
  }
}

.dropdown-toggle {
  &::after {
    vertical-align: 0.175rem;
  }
}

.nav-item {
  &:last-child {
    .dropdown-menu {
      @extend .dropdown-menu-right;
    }
  }
}

.navbar-above {
  .nav-link {
    color: $white;

    @include media-breakpoint-up(lg) {
      color: $black;
    }
  }
}

.navbar-main {
  @include media-breakpoint-up(lg) {
    .nav {
      padding-top: $spacer / 4;
      padding-bottom: $spacer / 4;
      background-color: $brand-green;
    }
  }

  .nav-link {
    color: $white;

    @include media-breakpoint-up(lg) {
      border-right: 1px solid $white;
      text-align: center;
    }
  }

  .nav-item {
    &:last-child {
      .nav-link {
        @include media-breakpoint-up(lg) {
          border-right: none;
        }
      }
    }
  }
}

// small screen styles

.navbar-toggler {
  position: absolute;
  top: $spacer / 2;
  left: $spacer / 2;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>');
}

// offcanvas menu

.offcanvas-collapse {
  z-index: 1;

  @include media-breakpoint-down(md) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 300px;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out,
      -webkit-transform 0.3s ease-in-out;
  }
}

@include media-breakpoint-down(md) {
  .site {
    &.offcanvas-open {
      overflow-y: hidden;

      .offcanvas-collapse {
        visibility: visible;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
      }
    }
  }
}

.navbar-collapse {
  @include media-breakpoint-down(md) {
    padding-top: $spacer;
    padding-bottom: $spacer;
  }
}

.navbar-above {
  @include media-breakpoint-down(md) {
    width: 100%;
    padding: 0;

    .nav {
      width: 100%;
    }
  }
}

.navbar-main {
  @include media-breakpoint-down(md) {
    width: 100%;
    padding: 0;
    order: -1;
  }
}

.nav-item {
  @include media-breakpoint-down(md) {
    margin-top: $spacer / 2;
    margin-bottom: $spacer / 2;
  }
}

.nav-link {
  @include media-breakpoint-down(md) {
    padding-right: 0;
    padding-left: 0;
  }
}

.dropdown-menu {
  @include media-breakpoint-down(md) {
    position: static;
    float: none;
  }
}

.offcanvas-flex-wrapper {
  display: flex;
  align-items: center;

  @include media-breakpoint-down(md) {
    justify-content: space-between;
  }

  .custom {
    @include media-breakpoint-down(md) {
      img[style] {
        margin-left: 0 !important;
      }
    }
  }
}
